.searchField{
 border-bottom: 1px dotted black;
 margin-bottom: 20px;
 label{
  width:40%;
 }
 input{
  width: 60%;
 }
}

.btn-sec{
 border-color: black;
 background-color: gray;
 margin-right:10px;
}

.grayOut {
background-color: lightgray;
}
.graybox{
background-color: lightgray;
width:80%;
height: 100px;
text-align: center;
}
.content{
 p{
  margin-bottom: 10px;
  font-weight: bold;
 }
}